<div class="form_div">
  <%= form_with(model: @item, local: true) do |f| %>
    <%= f.label :name, :品名 %>
    <%= f.text_field :name %>
    <% if @item.errors.messages[:name].any? %>
      <span class="error"><%= @item.errors.messages[:name][0] %></span>
    <% end %>

    <%= f.label :value, :価格 %>
    <%= f.text_field :value %>
    <% if @item.errors.messages[:value].any? %>
      <span class="error"><%= @item.errors.messages[:value][0] %></span>
    <% end %>

    <%= f.label :number, :個数 %>
    <%= f.text_field :number %>
    <% if @item.errors.messages[:number].any? %>
      <span class="error"><%= @item.errors.messages[:number][0] %></span>
    <% end %>

    <%= f.submit :send %>
  <% end  %>
</div>

<div id="total_div">
  <table border="1", id="total_tbl">
    <tr>
      <th class="total_th">合計金額</th>
      <td class="total_td"><%= @total %></td>
    </tr>
  </table>
</div>

<% if @items.any? %>
  <% @items.each do |items| %>
    <div>
      <table border="1", id="index_tbl">
        <tr>
          <th class="index_th">品名</th>
            <td class="index_td"><%= items.name %></td>
          <th class="index_th">価格</th>
            <td class="index_td"><%= items.value %> 円</td>
          <th class="index_th">個数</th>
            <td class="index_td"><%= items.number %> 点</td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>
