<header>
  <h1>shopping memo</h1>
  <hr>
</header>

<div id="container">
<!-- 新規登録 -->
<%= form_with(model: @item, id: "form", local: true) do |f| %>
  <p id="form_item">
    <%= f.label :name, :品名 %>
    <%= f.text_field :name, placeholder: "空白はご遠慮下さい", class: "placeholder" %>
    <% if @item.errors.messages[:name].any? %>
      <span id="error"><%= @item.errors.messages[:name][0] %></span>
    <% end %>
  </p> 

  <p id="form_value">
    <%= f.label :value, :価格 %>
    <%= f.text_field :value, placeholder: "半角数字で入力下さい", class: "placeholder", oninput: "value = value.replace(/[^0-9]+/i, '')" %>
    <% if @item.errors.messages[:value].any? %>  
      <span id="error"><%= @item.errors.messages[:value][0] %></span>
    <% end %>
  </p>

  <p id="form_number">
    <%= f.label :number, :個数 %>
    <%= f.text_field :number, placeholder: "半角数字で入力下さい", class: "placeholder", oninput: "value = value.replace(/[^0-9]+/i, '')" %>
    <% if @item.errors.messages[:number].any? %>
      <span id="error"><%= @item.errors.messages[:number][0] %></span>
    <% end %>
  </p>

  <p id="form_send">
    <%= f.submit :送信 %>
  </p>
<% end %> 

<!-- 合計金額  -->
  <table border="" id="total">
    <tr>
      <th id="total_th">合計金額</th>
      <td id="total_td"><span id="total_price" ><%= @total %></span> 円</td>
    </tr>
  </table>

<!-- 更新 -->
  <table border="" id="index_tbl">
    <% if @items.any? %>
      <form id="update" action="/items" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="patch" >
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <% @items.each do |item| %>
            <tr>
              <th class="index_th">品名</th>
                <td class="index_td index_item"><%= item.name %></td>
              <th class="index_th">単価</th>
                <td class="index_td unit_price" data-price="<%= item.value %>"><%= item.value %> 円</td>
              <th class="index_th">個数</th>
                <td class="index_number_td">
                  <input type="number" value="<%= item.number %>" name="items[<%= item.id %>]"
                  class="counter<%= item.id %> amount"> 点
                </td>
              <th id="spinner_button">
                <input type="button" value="＋" class="btnspinner" data-cal="1" data-target=".counter<%= item.id %>"> 
                <input type="button" value="－" class="btnspinner" data-cal="-1" data-target=".counter<%= item.id %>">
              </th>
              <th id="delete">
                <%= link_to "[削除]", "items/update/#{item.name}", method: :delete, data: { confirm: "削除するで？"} %>
              </th>
            </tr>
          <% end %>
        <input type="submit" id="updatesend" name="commit" value="更新" data-disable-with="sending..">
      </form>
    <% end %>
  </table>
</div>

<%= javascript_pack_tag 'shoppingindex.js' %>
<%= javascript_pack_tag "update.js" %>