
<div class="form_div">
  <%= form_with(model: @item, local: true) do |f| %>
    <%= f.label :name, :品名 %>
    <%= f.text_field :name %>
    <% if @item.errors.messages[:name].any? %>
      <span class="error"><%= @item.errors.messages[:name][0] %></span>
    <% end %>

    <%= f.label :value, :価格 %>
    <%= f.text_field :value %>
    <% if @item.errors.messages[:value].any? %>
      <span class="error"><%= @item.errors.messages[:value][0] %></span>
    <% end %>

    <%= f.label :number, :個数 %>
    <%= f.text_field :number %>
    <% if @item.errors.messages[:number].any? %>
      <span class="error"><%= @item.errors.messages[:number][0] %></span>
    <% end %>

    <%= f.submit :send %>
  <% end  %>
</div>

<div id="total_div">
  <table border="1", id="total_tbl">
    <tr>
      <th class="total_th">合計金額</th>
      <!-- <td class="total_td"><span id="total_price"><%= @total %></span> 円</td> -->
      <td class="total_td" id="total_td"><%= @total %> 円</td>
    </tr>
  </table>
  <%= form_with(model: @item, local: true) do |f| %>
    <%= f.submit :更新 %>
  <% end %>
</div>

<div id="index_div">
  <table border="", id="index_tbl">
    <% if @items.any? %>
      <% @items.each do |item| %>
        <tr>
          <th class="index_th">品名</th>
            <td class="index_td"><%= item.name %></td>
          <th class="index_th">単価</th>
            <td class="index_td unit_price" data-price="<%= item.value %>"><%= item.value %> 円</td>
          <th class="index_th">個数</th>
            <td class="index_number_td">
              <input type="number" value="<%= item.number %>" name="item[number]"
              class="counter<%= item.id %> amount"> 点
            </td>
          <th id="spinner_button">
            <input type="button" value="＋" class="btnspinner" data-cal="1" data-target=".counter<%= item.id %>">  <%# (上) "class="counter＜%= item.id %＞ を "data-target" で取得、 %>
            <input type="button" value="－" class="btnspinner" data-cal="-1" data-target=".counter<%= item.id %>"> <%# それを "var target = arySpinnerCtrl['target'];" へ渡している。 %>
          </th>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= javascript_pack_tag 'shoppingindex.js' %> <!-- jsファイルに "$(function(){})" を使っているので、一番下に記述する必要性は特にない。 -->
<%= javascript_pack_tag "update.js" %>