<!DOCTYPE html>
<html>
  <head>
    <title>Shopping2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# モバイル表示用 %>	
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  <%# ←マニュフェストファイルの指定 →application.css(マニュフェストファイル) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  <%# ←マニュフェストファイルの指定 application.js(マニュフェストファイル) %>
  </head>

  <body>
    <%= render "users/shared/notifications" %>
    <%= render "layouts/header" %>
    <%= yield %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </body>
</html>

