<!DOCTYPE html>
<html>
  <head>
    <title>Shopping2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# モバイル表示用 %>	
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  <%# ←マニュフェストファイルの指定 →application.css(マニュフェストファイル) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  <%# ←マニュフェストファイルの指定 application.js(マニュフェストファイル) %>
      <!-- favicon -->
    <link rel="icon" href="/app/assets/images/favicon.ico">
      <!-- windows version別 -->
    <link rel=”icon” type=”image/vnd.microsoft.icon” href="/app/assets/images/favicon.ico">
    <link rel=”shortcut icon” href=”/app/assets/images/favicon.ico>
      <!-- iphone -->
    <link rel="apple-touch-icon" sizes="180x180" href="/app/assets/images/apple-touch-icon.png">
      <!-- android -->
    <link rel="icon" type="image/png" href="/app/assets/images/android-touch-icon.png" sizes="192x192">
    <!-- css -->
  </head>

  <body>
    <%= render "users/shared/notifications" %>
    <%= render "layouts/header" %>
    <%= yield %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </body>
</html>

